flows_orchestrateur.json
[{"id":"f0241edb.9aff","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"83eb7177.2a19d8","type":"http request","z":"f0241edb.9aff","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.43.191:9428/api/queue/pop","tls":"","proxy":"","authType":"basic","x":370,"y":560,"wires":[["b96268fd.8dc788","d4a51ef1.73e328","54d5de58.1269f"]]},{"id":"8d1aed18.a29b18","type":"mqtt in","z":"f0241edb.9aff","name":"","topic":"simple_click","qos":"2","datatype":"auto","broker":"db1af854.2c4a88","x":170,"y":560,"wires":[["83eb7177.2a19d8"]]},{"id":"b96268fd.8dc788","type":"function","z":"f0241edb.9aff","name":"parse_json","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":440,"wires":[["17cb871d.bb8a99"]]},{"id":"79b1f56.3e1e28c","type":"function","z":"f0241edb.9aff","name":"convert printable","func":"const src = msg.payload\nif(src === null || src == 'null') msg.payload = \"    \"\nelse\n{\n    const number = parseInt(src);\n    if(number < 10)\n        msg.payload = \"   \" + number\n    else if(number < 100)\n        msg.payload = \"  \" + number\n    else if(number < 1000)\n        msg.payload = \" \" + number\n    else\n        msg.payload = \"\" + number\n}\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":360,"wires":[["2a88b17.121e7ce"]]},{"id":"17cb871d.bb8a99","type":"function","z":"f0241edb.9aff","name":"get_id","func":"if(msg.payload !== null && msg.payload !== 'null' && msg.payload.applicant.id !== undefined)\n    msg.payload = msg.payload.applicant.id\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":440,"wires":[["79b1f56.3e1e28c","dff911a3.c9e5d8","7b2b42a2.4b4dac"]]},{"id":"2a88b17.121e7ce","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"printer_digit","qos":"","retain":"","broker":"db1af854.2c4a88","x":1110,"y":360,"wires":[]},{"id":"dff911a3.c9e5d8","type":"function","z":"f0241edb.9aff","name":"exist_id","func":"msg.payload = msg.payload !== null && msg.payload !== 'null'\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":540,"wires":[["499cf7b2.a1932"]]},{"id":"499cf7b2.a1932","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"led","qos":"","retain":"","broker":"db1af854.2c4a88","x":1120,"y":540,"wires":[]},{"id":"b68eeb49.81e708","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"printer_current","qos":"2","retain":"true","broker":"15cd929b.81bbbd","x":1100,"y":440,"wires":[]},{"id":"f3dec89f.ffb108","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"current_student","qos":"","retain":"","broker":"db1af854.2c4a88","x":1140,"y":640,"wires":[]},{"id":"d4a51ef1.73e328","type":"function","z":"f0241edb.9aff","name":"get_applicant","func":"if(msg.payload !== null && msg.payload !== 'null' && msg.payload.applicant !== undefined)\n    msg.payload = msg.payload.applicant\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":640,"wires":[["79e0994f.71e988"]]},{"id":"7b2b42a2.4b4dac","type":"function","z":"f0241edb.9aff","name":"parse_to_android","func":"msg.payload = {data: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":440,"wires":[["b68eeb49.81e708"]]},{"id":"79e0994f.71e988","type":"function","z":"f0241edb.9aff","name":"parse_to_android","func":"msg.payload = {data: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":640,"wires":[["f3dec89f.ffb108"]]},{"id":"80abcff7.bab9b8","type":"mqtt in","z":"f0241edb.9aff","name":"","topic":"long_click","qos":"2","datatype":"auto","broker":"db1af854.2c4a88","x":200,"y":780,"wires":[["432cc519.f7040c"]]},{"id":"d0f20b38.4bdc4","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"printer_digit","qos":"","retain":"","broker":"db1af854.2c4a88","x":890,"y":820,"wires":[]},{"id":"c096f27d.8a5e88","type":"http in","z":"f0241edb.9aff","name":"appointments","url":"/api/appointments/:id","method":"get","upload":false,"swaggerDoc":"","x":210,"y":1520,"wires":[["e7ee14e4.1d9f2"]]},{"id":"e7ee14e4.1d9f2","type":"function","z":"f0241edb.9aff","name":"success","func":"msg.payload = msg.req.params.id\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1520,"wires":[["6b33b8f2.6d6958"]]},{"id":"b76c3cba.766de8","type":"http request","z":"f0241edb.9aff","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.43.191:9428/api/appointments/{{id}}","tls":"","proxy":"","authType":"basic","x":740,"y":1520,"wires":[["4c88133a.9fda5c"]]},{"id":"6b33b8f2.6d6958","type":"change","z":"f0241edb.9aff","name":"","rules":[{"t":"set","p":"id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1520,"wires":[["b76c3cba.766de8"]]},{"id":"4c88133a.9fda5c","type":"http response","z":"f0241edb.9aff","name":"response","statusCode":"200","headers":{},"x":940,"y":1520,"wires":[]},{"id":"b177570b.34d538","type":"mqtt in","z":"f0241edb.9aff","name":"","topic":"long_click","qos":"2","datatype":"auto","broker":"db1af854.2c4a88","x":200,"y":1360,"wires":[["4e0ed6e4.c8e568"]]},{"id":"49021b.f854bde4","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"led","qos":"","retain":"","broker":"db1af854.2c4a88","x":590,"y":1420,"wires":[]},{"id":"b763cd57.79a1a","type":"delay","z":"f0241edb.9aff","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":1360,"wires":[["d05f9c30.5f3d5"]]},{"id":"d05f9c30.5f3d5","type":"function","z":"f0241edb.9aff","name":"led on","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1360,"wires":[["35516694.ea1b6a"]]},{"id":"4e0ed6e4.c8e568","type":"function","z":"f0241edb.9aff","name":"led off","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1400,"wires":[["49021b.f854bde4","b763cd57.79a1a"]]},{"id":"35516694.ea1b6a","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"led","qos":"","retain":"","broker":"db1af854.2c4a88","x":930,"y":1360,"wires":[]},{"id":"432cc519.f7040c","type":"http request","z":"f0241edb.9aff","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.43.191:9428/api/queue/next","tls":"","proxy":"","authType":"basic","x":470,"y":820,"wires":[["ae863396.944b4","caf62dee.6aa22","e2bde58a.0b2c58","3a48548.81663ac","6d936946.1c2d88"]]},{"id":"ae863396.944b4","type":"function","z":"f0241edb.9aff","name":"convert printable","func":"const src = msg.payload\nif(src === null || src == 'null') msg.payload = \"    \"\nelse\n{\n    const number = parseInt(src);\n    if(number < 10)\n        msg.payload = \"   \" + number\n    else if(number < 100)\n        msg.payload = \"  \" + number\n    else if(number < 1000)\n        msg.payload = \" \" + number\n    else\n        msg.payload = \"\" + number\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":820,"wires":[["d0f20b38.4bdc4"]]},{"id":"e04e7a22.f81878","type":"mqtt in","z":"f0241edb.9aff","name":"","topic":"btn-right","qos":"2","datatype":"auto","broker":"28afd51e.7b7e2a","x":200,"y":1460,"wires":[["4e0ed6e4.c8e568"]]},{"id":"57e3b220.e0507c","type":"mqtt in","z":"f0241edb.9aff","name":"","topic":"btn-right","qos":"2","datatype":"auto","broker":"28afd51e.7b7e2a","x":200,"y":840,"wires":[["432cc519.f7040c"]]},{"id":"b39d48c0.020d88","type":"mqtt in","z":"f0241edb.9aff","name":"","topic":"btn-next","qos":"2","datatype":"auto","broker":"28afd51e.7b7e2a","x":160,"y":620,"wires":[["83eb7177.2a19d8"]]},{"id":"5872a510.92eddc","type":"mqtt in","z":"f0241edb.9aff","name":"","topic":"btn-minus","qos":"2","datatype":"auto","broker":"15cd929b.81bbbd","x":140,"y":1580,"wires":[["70a3fe0e.83849","88aa2dd6.48d0d"]]},{"id":"333ad40f.b6dafc","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"printer_queue","qos":"","retain":"","broker":"15cd929b.81bbbd","x":1420,"y":880,"wires":[]},{"id":"d7864908.404878","type":"function","z":"f0241edb.9aff","name":"parse_to_android","func":"msg.payload = {data: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":720,"wires":[[]]},{"id":"6419d7b1.bf27f8","type":"mqtt in","z":"f0241edb.9aff","name":"","topic":"btn-left","qos":"2","datatype":"auto","broker":"28afd51e.7b7e2a","x":70,"y":180,"wires":[["86f290b3.2caa"]]},{"id":"ee704426.8211d8","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"printer_digit","qos":"","retain":"","broker":"db1af854.2c4a88","x":670,"y":120,"wires":[]},{"id":"86f290b3.2caa","type":"http request","z":"f0241edb.9aff","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.43.191:9428/api/queue/prev","tls":"","proxy":"","authType":"basic","x":230,"y":180,"wires":[["36b3c0bd.2b8cd","5701b1fc.c3f62","bdc4b33f.13762","45467bec.854504","d5f6d5e.5209328"]]},{"id":"36b3c0bd.2b8cd","type":"function","z":"f0241edb.9aff","name":"convert printable","func":"const src = msg.payload\nif(src === null || src == 'null') msg.payload = \"    \"\nelse\n{\n    const number = parseInt(src);\n    if(number < 10)\n        msg.payload = \"   \" + number\n    else if(number < 100)\n        msg.payload = \"  \" + number\n    else if(number < 1000)\n        msg.payload = \" \" + number\n    else\n        msg.payload = \"\" + number\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["ee704426.8211d8"]]},{"id":"70a3fe0e.83849","type":"http request","z":"f0241edb.9aff","name":"","method":"DELETE","ret":"txt","paytoqs":false,"url":"http://192.168.43.191:9428/api/queue/","tls":"","proxy":"","authType":"basic","x":350,"y":1580,"wires":[["616e1385.04652c"]]},{"id":"4935c565.39909c","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"printer_queue","qos":"","retain":"","broker":"15cd929b.81bbbd","x":1200,"y":1580,"wires":[]},{"id":"616e1385.04652c","type":"function","z":"f0241edb.9aff","name":"parse_json","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1580,"wires":[["922110b1.72a17"]]},{"id":"26b6dbde.2cf7f4","type":"function","z":"f0241edb.9aff","name":"parse_to_android","func":"msg.payload = {data: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1580,"wires":[["4935c565.39909c"]]},{"id":"fea7892a.cc30a8","type":"http request","z":"f0241edb.9aff","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.43.191:9428/api/queue","tls":"","proxy":"","authType":"basic","x":370,"y":1760,"wires":[["e7d2e670.a9bdd8"]]},{"id":"e7d2e670.a9bdd8","type":"function","z":"f0241edb.9aff","name":"parse_json","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1760,"wires":[["2c048049.dd0d3"]]},{"id":"8c03ed2b.6119f","type":"function","z":"f0241edb.9aff","name":"parse_to_android","func":"msg.payload = {data: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1760,"wires":[["8483e1df.213ab"]]},{"id":"8483e1df.213ab","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"printer_queue","qos":"","retain":"","broker":"15cd929b.81bbbd","x":1140,"y":1760,"wires":[]},{"id":"2c048049.dd0d3","type":"function","z":"f0241edb.9aff","name":"get_queue_id","func":"if(msg.payload !== null && msg.payload !== 'null'){\n    const json = msg.payload\n    msg.payload = json.map(e => e.id)\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":1760,"wires":[["8c03ed2b.6119f"]]},{"id":"8e627600.1c12a8","type":"mqtt in","z":"f0241edb.9aff","name":"","topic":"btn-plus","qos":"2","datatype":"auto","broker":"28afd51e.7b7e2a","x":150,"y":1760,"wires":[["fea7892a.cc30a8","88aa2dd6.48d0d"]]},{"id":"13d4cad3.2fa1b5","type":"http request","z":"f0241edb.9aff","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.43.191:9428/api/queue/{{id}}","tls":"","proxy":"","authType":"basic","x":710,"y":60,"wires":[["8784ebd2.dc5d08"]]},{"id":"5701b1fc.c3f62","type":"change","z":"f0241edb.9aff","name":"","rules":[{"t":"set","p":"id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":60,"wires":[["13d4cad3.2fa1b5"]]},{"id":"8784ebd2.dc5d08","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"printer_list","qos":"","retain":"","broker":"15cd929b.81bbbd","x":1090,"y":60,"wires":[]},{"id":"1991554f.ae9e6b","type":"http request","z":"f0241edb.9aff","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.43.191:9428/api/queue/{{id}}","tls":"","proxy":"","authType":"basic","x":890,"y":940,"wires":[["43ae0722.4e7df8"]]},{"id":"caf62dee.6aa22","type":"change","z":"f0241edb.9aff","name":"","rules":[{"t":"set","p":"id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":940,"wires":[["1991554f.ae9e6b"]]},{"id":"43ae0722.4e7df8","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"printer_list","qos":"","retain":"","broker":"15cd929b.81bbbd","x":1110,"y":940,"wires":[]},{"id":"7106114d.063f8","type":"mqtt in","z":"f0241edb.9aff","name":"","topic":"double_click","qos":"2","datatype":"auto","broker":"db1af854.2c4a88","x":190,"y":1120,"wires":[["7907bedb.fc751"]]},{"id":"7907bedb.fc751","type":"function","z":"f0241edb.9aff","name":"led off","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1120,"wires":[["a60d9122.204e","fc5b7abd.d92218"]]},{"id":"a60d9122.204e","type":"delay","z":"f0241edb.9aff","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1120,"wires":[["f51db454.3aca48"]]},{"id":"f51db454.3aca48","type":"function","z":"f0241edb.9aff","name":"led on","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1120,"wires":[["1b35fde3.595102","2638be04.deec22"]]},{"id":"e9c41742.37b778","type":"function","z":"f0241edb.9aff","name":"led off","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1120,"wires":[["bc1be931.37c618","a7477472.544188"]]},{"id":"bc1be931.37c618","type":"delay","z":"f0241edb.9aff","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":1120,"wires":[["bf3309d6.1a87b8"]]},{"id":"bf3309d6.1a87b8","type":"function","z":"f0241edb.9aff","name":"led on","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":1120,"wires":[["4c85cbd7.dd5354"]]},{"id":"1b35fde3.595102","type":"delay","z":"f0241edb.9aff","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":1120,"wires":[["e9c41742.37b778"]]},{"id":"fc5b7abd.d92218","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"led","qos":"","retain":"","broker":"db1af854.2c4a88","x":430,"y":1180,"wires":[]},{"id":"2638be04.deec22","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"led","qos":"","retain":"","broker":"db1af854.2c4a88","x":730,"y":1180,"wires":[]},{"id":"a7477472.544188","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"led","qos":"","retain":"","broker":"db1af854.2c4a88","x":1110,"y":1180,"wires":[]},{"id":"4c85cbd7.dd5354","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"led","qos":"","retain":"","broker":"db1af854.2c4a88","x":1430,"y":1180,"wires":[]},{"id":"53ceab8a.28a6a4","type":"mqtt in","z":"f0241edb.9aff","name":"","topic":"double_click","qos":"2","datatype":"auto","broker":"db1af854.2c4a88","x":150,"y":1700,"wires":[["fea7892a.cc30a8"]]},{"id":"4f655c0d.940334","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"printer_big","qos":"","retain":"","broker":"15cd929b.81bbbd","x":690,"y":240,"wires":[]},{"id":"bdc4b33f.13762","type":"function","z":"f0241edb.9aff","name":"parse_to_android","func":"msg.payload = {data: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["4f655c0d.940334"]]},{"id":"e2bde58a.0b2c58","type":"http request","z":"f0241edb.9aff","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.43.191:9428/api/queue/","tls":"","proxy":"","authType":"basic","x":730,"y":880,"wires":[["9b4e52f7.356ae"]]},{"id":"d2a2a6e2.e6cc78","type":"function","z":"f0241edb.9aff","name":"parse_to_android","func":"msg.payload = {data: msg.payload.map(e=>e.id)}\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":880,"wires":[["333ad40f.b6dafc"]]},{"id":"9b4e52f7.356ae","type":"function","z":"f0241edb.9aff","name":"parse_json","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":880,"wires":[["d2a2a6e2.e6cc78"]]},{"id":"cac214be.facc18","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"printer_queue","qos":"","retain":"","broker":"15cd929b.81bbbd","x":1140,"y":300,"wires":[]},{"id":"45467bec.854504","type":"http request","z":"f0241edb.9aff","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.43.191:9428/api/queue/","tls":"","proxy":"","authType":"basic","x":450,"y":300,"wires":[["c8085cb3.cece1"]]},{"id":"d48504b6.2dd358","type":"function","z":"f0241edb.9aff","name":"parse_to_android","func":"msg.payload = {data: msg.payload.map(e=>e.id)}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":300,"wires":[["cac214be.facc18"]]},{"id":"c8085cb3.cece1","type":"function","z":"f0241edb.9aff","name":"parse_json","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":300,"wires":[["d48504b6.2dd358"]]},{"id":"d8a6113f.d8b9","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"printer_big","qos":"","retain":"","broker":"15cd929b.81bbbd","x":910,"y":1000,"wires":[]},{"id":"3a48548.81663ac","type":"function","z":"f0241edb.9aff","name":"parse_to_android","func":"msg.payload = {data: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1000,"wires":[["d8a6113f.d8b9"]]},{"id":"922110b1.72a17","type":"function","z":"f0241edb.9aff","name":"get_queue_id","func":"if(msg.payload !== null && msg.payload !== 'null'){\n    const json = msg.payload\n    msg.payload = json.map(e => e.id)\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":760,"y":1580,"wires":[["26b6dbde.2cf7f4"]]},{"id":"19353163.84d3af","type":"http request","z":"f0241edb.9aff","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.43.191:9428/api/queue/{{id}}","tls":"","proxy":"","authType":"basic","x":730,"y":720,"wires":[["fa639c5.908aa6"]]},{"id":"fa639c5.908aa6","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"printer_list","qos":"","retain":"","broker":"15cd929b.81bbbd","x":910,"y":720,"wires":[]},{"id":"d5f6d5e.5209328","type":"function","z":"f0241edb.9aff","name":"ChangeCurrentQueue","func":"global.set(\"queue\",msg.payload);\nmsg.payload =  global.get(\"queue\");\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":20,"wires":[[]]},{"id":"6d936946.1c2d88","type":"function","z":"f0241edb.9aff","name":"ChangeCurrentQueue","func":"global.set(\"queue\",msg.payload);\nmsg.payload =  global.get(\"queue\");\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1040,"wires":[[]]},{"id":"54d5de58.1269f","type":"function","z":"f0241edb.9aff","name":"get_CurrentQueue","func":"if(global.get(\"queue\") != null){\n    msg.payload = global.get(\"queue\");\n}\nelse{\n    msg.payload = \"0\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":680,"wires":[["dfb199a.ee43868"]]},{"id":"dfb199a.ee43868","type":"change","z":"f0241edb.9aff","name":"","rules":[{"t":"set","p":"id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":720,"wires":[["19353163.84d3af"]]},{"id":"8a856aae.e1c7f8","type":"http request","z":"f0241edb.9aff","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.43.191:9428/api/queue/{{id}}","tls":"","proxy":"","authType":"basic","x":730,"y":1820,"wires":[["e8c7cbe3.3f27b8","e0881450.ae28f8"]]},{"id":"e8c7cbe3.3f27b8","type":"mqtt out","z":"f0241edb.9aff","name":"","topic":"printer_list","qos":"","retain":"","broker":"15cd929b.81bbbd","x":1050,"y":1820,"wires":[]},{"id":"88aa2dd6.48d0d","type":"function","z":"f0241edb.9aff","name":"get_CurrentQueue","func":"if(global.get(\"queue\") != null){\n    msg.payload = global.get(\"queue\");\n}\nelse{\n    msg.payload = \"0\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1820,"wires":[["c9149153.297a5"]]},{"id":"c9149153.297a5","type":"change","z":"f0241edb.9aff","name":"","rules":[{"t":"set","p":"id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1820,"wires":[["8a856aae.e1c7f8"]]},{"id":"e0881450.ae28f8","type":"function","z":"f0241edb.9aff","name":"","func":"msg.payload = JSON.parse(msg.payload).map(e => {\n    const timestamp = e.real_timestamp;\n    const date = new Date(timestamp*1000);\n    return timestamp\n})\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1900,"wires":[[]]},{"id":"cd7b5b64.7bf778","type":"inject","z":"f0241edb.9aff","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["d5f6d5e.5209328"]]},{"id":"db1af854.2c4a88","type":"mqtt-broker","z":"","name":"BROKER_RASP","broker":"192.168.43.43","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"15cd929b.81bbbd","type":"mqtt-broker","z":"","name":"ANDROID_BROKER","broker":"192.168.43.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28afd51e.7b7e2a","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]